dist: bionic
cache: pip
language: python
os: linux
python:
  - 3.5
  - 3.6
  - 3.7
  - 3.8
jobs:
  include:
    - os: windows
      python: 3.8
      language: shell
      before_install:
        - choco install python --version 3.8
      env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
before_install:
  - pip install --upgrade setuptools pip
install:
  - pip install -e .
before_script:
  - pip install --upgrade pytest pytest-pylint pytest-cov codecov
script:
  - pytest
  - python -m prefpicker templates/browser-fuzzing.yml test-prefs.js --check
after_success:
  - codecov
